* {
  margin: 0;
  padding: 0;
  /* border: none; */
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
hr {
  width: 70%;
  margin-top: 2px;
}
body {
  min-width: 1100px;
  max-width: 1200px;
  margin: auto;
  background-color: #ededed;
}

a {
  text-decoration: none;
  color: black;
}
button:hover {
  border: blue 2px;
  -webkit-transition: background 0.55s ease;
  -moz-transition: background 0.55s ease;
  -ms-transition: background 0.55s ease;
  -o-transition: background 0.55s ease;
  transition: background 0.55s ease;
}
#cover-picture {
  width: 100%;
  height: 150px;
  color: white;
  background-color: coral;
  font-size: 30px;
  margin: auto;
  text-align: center;
  line-height: 150px;
  border: 1px solid #80808000;
  box-shadow: 0px 0px 14px 0px grey;
}
#taskbar {
  height: 52px;
  color: black;
  font-size: 30px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  line-height: 50px;
  width: 100%;
  border: 1px solid #80808000;
  box-shadow: 0px 0px 14px 0px grey;
  position: sticky;
  top: 0;
  z-index: 10;
  background: linear-gradient(to bottom, gray,rgb(155, 151, 151), rgb(70, 69, 69));
}
#logo {
  position: absolute;
  left: 0;
  width: 100px;
  height: 50px;
  
}

#searchbutton {
  position: absolute;
  left: 150px;
  width: 500px;
  height: 50px;
 
}
#add {
  position: absolute;
  right: 200px;
  width: 200px;
  height: 50px;

  text-align: center;
}
#log-in {
  position: absolute;
  right: 0;
  width: 200px;
  height: 50px;
 
  display: flex;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main2 {
  padding-top: 50px;
  text-align: center;
  width: 500px;
  height: 500px;
  background-color: sandybrown;
}

.homemain {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 1000px;
  background-color: whitesmoke;
  margin: 0 auto;
  border: 1px solid #80808000;
  box-shadow: 0px 0px 14px 0px grey;
}
.hm1 {
  justify-content: space-between;
}
.hm2 {
  padding-left: 15px;
  padding-top: 15px;
  height: fit-content;
}
.newfoods {
  width: 100%;
  height: 300px;
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.newfoodx {
  width: 200px;
  height: 290px;
  background-color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #80808000;
  /* border-radius: 15px; */
  box-shadow: 0px 0px 14px 0px grey;
  position: relative;
}
.tagnew {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: violet;
  top: 0px;
  left: 0px;
}
.hotfoods {
  width: 100%;
  height: 300px;
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.hotmembers {
  width: 100%;
  height: 300px;
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
#form-add {
  width: 450px;
  margin-bottom: 10px;
  height: 40px;
  display: flex;
}
#form-do {
  width: 450px;
  margin-bottom: 10px;
  height: 40px;
  display: flex;
}
#inputnl {
  width: 400px;
  /* border-style: ridge; */
  margin-bottom: 10px;
  height: 40px;
}

#namefood {
  width: 400px;
  /* border-style: ridge; */
  margin-bottom: 10px;
  height: 40px;
}
#buttonaddnl {
  width: 40px;
  border-style: ridge;
  /* margin-bottom: 10px; */
  height: 40px;
}

#buttonaddcl {
  width: 40px;
  border-style: ridge;
  /* margin-bottom: 10px; */
  height: 40px;
}
#inputcl {
  width: 400px;
  /* border-style: ridge; */
  margin-bottom: 10px;
  height: 40px;
}
#addanh {
  width: 400px;
  /* border-style: ridge; */
  margin-bottom: 10px;
  height: 40px;
}
.liinput {
  display: flex;
}
#del {
  width: 45px;
  border-style: ridge;
  height: 40px;
}

#okadd {
  width: 150px;
  background: linear-gradient(to right, #fc00ff, #00dbde);
  color: honeydew;
  border-radius: 10px;
  height: 40px;
  display: flex;
  line-height: 35px;
  font-weight: bolder;
  font-size: 17px;
  justify-content: center;
  margin: 0 auto;
}
#okadd:hover,
#okadd:focus {
  background: linear-gradient(to right, #fc466b, #3f5efb);
}
#tenmonchitiet {
  text-align: center;
}
/* 
#crnewfoods {
  width: 1000px;
  height: fit-content;
  margin: 10px auto;
  border: solid black 2px;
} */

.miniimage {
  width: 100%;
  height: 180px;
  background-color: blanchedalmond;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.mininame {
  width: 100%;
  height: 35px;
  background-color: blanchedalmond;
  font-size: larger;
  padding-top: 5px;
}
.minitime {
  width: 100%;
  height: 25px;
  background-color: blanchedalmond;
}

.miniid {
  visibility: hidden;
  height: 0;
}

.to {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(100px, auto);
}

.form {
  border: 1px solid #80808000;
  grid-column: 6/9;
  grid-row: 3;
  height: 470px;
  width: 292px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 0px 14px 0px grey;
  background-color: white;
}
h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}
#login {
  display: block;
  margin-bottom: 50px;
  font-size: 28px;
}

label {
  margin-left: -126px;
  display: block;
  font-weight: lighter;
}
input {
  border: none;
  display: block;
  border-bottom: 2px solid #00bcd4;
  margin-top: 6px;
  margin-bottom: 10px;
  outline-style: none;
}
input[type="text"] {
  padding: 7px;
  width: 70%;
}
input.submit {
  padding: 7px;
  width: 50%;
  border-radius: 10px;
  border: none;
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  background: linear-gradient(to right, #fc00ff, #00dbde);
}
input.submit:hover {
  background: linear-gradient(to right, #fc466b, #3f5efb);
}

#ask {
  color: blue;
  margin-top: 14px;
}
#ask:hover {
  text-decoration: underline;
}
.box {
  /* background-color: #343d46; */
  margin: 0 auto;
  width: 300px;
  height: 50px;
}
.container-1 {
  width: fit-content;
  height: 50px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  -webkit-transition: background 0.55s ease;
  -moz-transition: background 0.55s ease;
  -ms-transition: background 0.55s ease;
  -o-transition: background 0.55s ease;
  transition: background 0.55s ease;
}
.container-1 input#search {
  margin: 0 5px 0;
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.55s ease;
  -moz-transition: background 0.55s ease;
  -ms-transition: background 0.55s ease;
  -o-transition: background 0.55s ease;
  transition: background 0.55s ease;
}
.container-1 input#search:-ms-input-placeholder {
  color: #65737e;
}
.container-1 .icon {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 1;
  color: #4f5b66;
}
.container-1 input#search:hover,
.container-1 input#search:focus,
.container-1 input#search:active {
  outline: none;
  background: #ffffff;
}
.container-1 input#search:focus,
.container-1 input#search:active {
  outline: none;
  width: 500px;
}

.container-1:hover input#search {
  width: 500px;
}

.container-1:hover .icon {
  color: #93a2ad;
}

/* logo */
#imagelogo {
  height: 52px;
  margin-top: -1px;
}

/* views and like */
.miniview {
  width: 100%;
  height: 25px;
  background-color: blanchedalmond;
}
.minilike {
  width: 100%;
  height: 25px;
  background-color: blanchedalmond;
}

/* like in chitiet */
#likedislike {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

#divlike {
  width: 60px;
  font-size: 20px;
  text-align: center;
  border-radius: 7px;
  display: flex;
}
#divdislike {
  width: 60px;
  font-size: 20px;
  text-align: center;
  border-radius: 7px;
  display: flex;
}

.likeanddislike:hover {
  color: whitesmoke;
  background-color: rgb(26, 47, 167);
}
.solieu {
  margin-left: 10px;
}

#addcmt {
  display: flex;
  flex-direction: column;
}

#write {
  border: 2px solid #00bcd4;
  width: 98.5%;
  height: 50px;
}
#writeok {
  background: linear-gradient(to right, #fc00ff, #00dbde);
  border: none;
  height: 30px;
  width: 400px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 10px;
  margin-bottom: 10px;
}
#writeok:hover {
  background: linear-gradient(to right, #fc466b, #3f5efb);
}

.scrollbar {
  float: left;
  overflow-y: scroll;
  width: 98.5%;
  height: 400px;
  background-color: rgb(206, 204, 204);
}

.force-overflow {
  min-height: fit-content;
}

#comment {
  display: flex;
  flex-direction: column;
}

#printcmt {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.namecmt {
  background-color: white;
  font-size: 20px;
  font-weight: bolder;
  width: fit-content;
  display: flex;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
  padding: 4px;
  box-shadow: 0px 0px 14px 0px grey;
}
.pcmt {
  font-style: italic;
  font-size: 10px;
  font-weight: unset;
  margin-left: 10px;
  margin-top: 10px;
}
.ctcmt {
  margin: 5px;
  word-break: normal;
  padding: 4px;
  border-radius: 10px;
  background-color: white;
  width: 98.5%;
  box-shadow: 0px 0px 14px 0px grey;
}

/* menu login */
#menulogin {
  width: 50px;
  height: 100%;
  padding-top: 10px;
  text-align: center;
}
#plogin {
  width: 150px;
}

#logindrop {
  position: absolute;
  width: 0;
  height: 0;
  background-color: white;
  right: 0;
  top: 0;
  z-index: 11;
  display: flex;
  flex-direction: column;
}

#drop1 {
  width: 150px;
  height: 25px;
  font-size: 15px;
  line-height: 25px;
}
#drop2 {
  width: 150px;
  height: 25px;
  font-size: 15px;
  line-height: 25px;
}

#drop1:hover,
#drop2:hover {
  background-color: rgb(14, 40, 190);
  color: #93a2ad;
}

/* hover cho 1 so cai */
#logo:hover,
#add:hover,
#menulogin:hover,
#plogin:hover {
  background-color: rgb(70, 66, 66);
  color: #93a2ad;
}

/* bookmark */
.fa-bookmark {
  position: absolute;
  top: -1px;
  right: -1px;
  font-size: 40px;
  color: white;
  z-index: 1;
  /* width: 35px;
  height: 40px; */
}
.bm1 {
  color: white;
}
.bm1:hover {
  color: rgb(202, 23, 23);
}

.bm2 {
  color: rgb(202, 23, 23);
}
.bm2:hover {
  color: white;
}

.newfoodx:hover {
  border: 1px solid rgb(70, 66, 66);
}

/* search page */
#hmsearch {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.viewsearch {
  width: 97%;
  background-color: white;
  height: 200px;
  box-shadow: 0px 0px 14px 0px grey;
  margin: 10px auto;
  position: relative;
}
.viewsearchimage {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 200px;
  height: 190px;
  box-shadow: 0px 0px 14px 0px grey;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.viewsearchname {
  position: absolute;
  top: 10px;
  left: 220px;
  background-color: teal;
  width: 645px;
  height: 40px;
}

.viewsearchcreator {
  position: absolute;
  top: 60px;
  left: 220px;
  background-color: teal;
  width: 645px;
  height: 25px;
}

.viewsearchtime {
  position: absolute;
  top: 90px;
  left: 220px;
  background-color: teal;
  width: 645px;
  height: 25px;
}

.viewsearchview {
  position: absolute;
  top: 160px;
  left: 220px;
  background-color: teal;
  width: 645px;
  height: 30px;
}
.viewsearchlike {
  position: absolute;
  top: 125px;
  left: 220px;
  background-color: teal;
  width: 645px;
  height: 25px;
}
.find {
  width: 940px;
  height: 40px;
  display: flex;
justify-content: space-evenly;
margin-left: 80px;
margin-top: -10px;
margin-bottom: 10px;
  
}
.findtype {
  width: 120px;
  height: 40px;
  box-shadow: 0px 0px 14px 0px grey;
  border: solid white 1px;
  text-align: center;
  line-height: 40px;
}
#typesort {
  margin-left: 350px;
}
.findtype:hover {
  border: solid black 1px;
}